:root{
  --blue:  #91BAD6;
  --lightBlue: #BCD2E8;
  --darkBlue: #1E3F66;
}


body{
  font-family: 'Racing Sans One', cursive;
  background: rgb(3,86,191);
  background-image: linear-gradient(346deg, rgba(3,86,191,1) 13%, rgba(104,222,255,1) 87%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}